<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <!-- Oh JQuery, may my ajax be quick. -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="static/js/common.js"></script>
    <script src="static/js/blog.js"></script>
    <title>Tom Schutte - Blog</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="..">Tom Schutte</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="blog">Blog</a>
                    </li>
                    <li>
                        <a href="static/res/resume.pdf">Resume</a>
                    </li>
                    <li>
                        <a href="projects">Projects</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row" id="Landing_text">
            <section class="col-sm-8">
                <h1>
                    Posts by date:
                </h1>
                <p>
                    Below is a list of posts ordered by date. I don't post often, and I don't post much... But it't better than nothing!
                </p>
                <% posts.forEach(function(post, index) { %>
                    <%if (post.Enabled.BOOL) { %>
                    <h3>
                        <a href="/blog/<%= post.Date.S %>/<%= post.Title.S %>"</a><%= post.Title.S %></a>
                    </h3>
                    <% } %>
                <% }) %>
            </section>
        </div>
    </div>

    <div class="footer navbar-fixed-bottom text-center">
        <div class="container">
            <div class="text-center" id="YEAR" style="padding-bottom: 15px"></div>
        </div>
    </div>
</body>