<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>How many times has Rachel said "I'm dying"</title>
</head>
<!-- Leave this out for local testing.... AIzaSyCUseB32F9tfmcplYwK-wlWSEuACv3ZlYI -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUseB32F9tfmcplYwK-wlWSEuACv3ZlYI&callback=initMap" type="text/javascript"></script>
<script src="js/contact.js"></script>

<body>
    <form method="post" action="/rachelisliterallydying">
        <p>Body count is: <%= body %></p>
        <p>Most recent death: <%= time %></p>
        <input type="submit" class="btn btn-default col-md-12">
    </form>
</body>
