<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/styles.css">
	<script src="static/js/common.js"></script>
	<title>Tom Schutte</title>
</head>

<body>
	<header>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="">Tom Schutte</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="blog">Blog</a>
					</li>
					<li>
						<a href="static/res/resume.pdf">Resume</a>
					</li>
					<li>
						<a href="projects">Projects</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="container">
		<div class="row" id="headerimage">
			<section class="page col-sm-12">
				<img src="static/res/photos/placeholders/placeholder_home_page.png" class="img-responsive img-rounded">
			</section>
		</div>
	</div>

	<div class="container">
		<div class="row" id="Landing_text">
			<section class="col-sm-12">
				<h1>Heading</h1>
				<p>
					Body
				</p>
			</section>
		</div>
	</div>

	<div class="container">
		<div class="row" id="blurbs-images">
			<section class="col-sm-4">
				<h3 class="header">Github</h3>
				<a href="https://github.com/tjschutte">
					<div class="icon-div">
						<img src="static/res/photos/landing_page/GitHub-Mark-120px-plus.png" class="img-circle img-responsive icon">
					</div>
				</a>
				<p>
					See my projects on Github. This is the best place to see what projects I am currently working on!
				</p>
			</section>
			<section class="col-sm-4">
				<h3 class="header">LinkedIn</h3>
				<a href="https://www.linkedin.com/in/thomasschutte">
					<div class="icon-div">
						<img src="static/res/photos/landing_page/Logo-Black-121px-R.png" class="image-rounded img-responsive icon">
					</div>
				</a>
				<p>
					Connect with me on Linkedin, and see what I am doing.
				</p>
			</section>
			<section class="col-sm-4">
				<h3 class="header">Contact</h3>
				<a href="contact">
					<div class="icon-div">
						<img src="static/res/photos/landing_page/email-icon.png" class="image-rounded img-responsive icon">
					</div>
				</a>
				<p>
					Questions? Comments? Got an Idea for how to make this place better? Feel free to drop me an email above.
				</p>
			</section>
		</div>

	</div>

	<div class="footer navbar-fixed-bottom text-center">
		<div class="container">
			<div class="text-center" id="YEAR" style="padding-bottom: 15px"></div>
		</div>
	</div>
</body>