<!DOCTYPE html>
<html lang="en">
<!-- This page is not meant to actually be rendered by the server. Just to create the body of posts and help see how they will look-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/styles.css">
    <!-- Oh JQuery, may my ajax be quick. -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="../public/js/common.js"></script>
    <title>Tom Schutte - Blog</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="../..">Tom Schutte</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="../../../blog">Blog</a>
                    </li>
                    <li>
                        <a href="../../../static/res/resume.pdf">Resume</a>
                    </li>
                    <li>
                        <a href="../../../projects">Projects</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row" id="Landing_text">
            <section class="col-sm-12">
                <p id="content">
                    <h1>Title</h1>
                    <p>
                        Lorem ipsum dolor sit amet, eos iracundia sadipscing ea, veniam semper dissentias cu sed, id invenire recteque sed. Nullam
                        appareat pericula ei vim. Ex iuvaret facilisis laboramus mea. Quo dicam delicatissimi ad, vis ut
                        tota oratio constituto. Te has habemus electram dignissim. Ludus electram salutatus ius no. Ei solet
                        facilis gubergren eos, eu voluptua abhorreant posidonium nam. Vero dissentias pri id. Pri persius
                        conceptam no, populo conceptam ne pri, ex has falli incorrupte honestatis. Quo unum commune delicata
                        id, ne justo adipisci intellegam vim, altera delenit ex eam. At paulo nullam maiorum quo, nec quidam
                        detraxit contentiones in.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, eos iracundia sadipscing ea, veniam semper dissentias cu sed, id invenire recteque sed. Nullam
                        appareat pericula ei vim. Ex iuvaret facilisis laboramus mea. Quo dicam delicatissimi ad, vis ut
                        tota oratio constituto. Te has habemus electram dignissim. Ludus electram salutatus ius no. Ei solet
                        facilis gubergren eos, eu voluptua abhorreant posidonium nam. Vero dissentias pri id. Pri persius
                        conceptam no, populo conceptam ne pri, ex has falli incorrupte honestatis. Quo unum commune delicata
                        id, ne justo adipisci intellegam vim, altera delenit ex eam. At paulo nullam maiorum quo, nec quidam
                        detraxit contentiones in.
                    </p>
                    <div class="col-sm-2">
                        <img src="../public/res/photos/placeholders/placeholder_project_image.png" style="max-height:220px" class="img-rounded img-thumbnail">
                    </div>
                    <div class="col-sm-10">
                        <p>
                            Lorem ipsum dolor sit amet, eos iracundia sadipscing ea, veniam semper dissentias cu sed, id invenire recteque sed. Nullam
                            appareat pericula ei vim. Ex iuvaret facilisis laboramus mea. Quo dicam delicatissimi ad, vis
                            ut tota oratio constituto. Te has habemus electram dignissim. Ludus electram salutatus ius no.
                            Ei solet facilis gubergren eos, eu voluptua abhorreant posidonium nam. Vero dissentias pri id.
                            Pri persius conceptam no, populo conceptam ne pri, ex has falli incorrupte honestatis. Quo unum
                            commune delicata id, ne justo adipisci intellegam vim, altera delenit ex eam. At paulo nullam
                            maiorum quo, nec quidam detraxit contentiones in.
                        </p>
                    </div>
                </p>
                <br>
                <br>
                <br>
                <br>
                <textarea id="text" rows="12" style="width:100%;">
                    
                </textarea>
                <br>
                <button onclick="update()">Update Content</button>
            </section>
        </div>
    </div>

    <div class="footer navbar-fixed-bottom text-center">
        <div class="container">
            <div class="text-center" id="YEAR" style="padding-bottom: 15px"></div>
        </div>
    </div>
</body>

<script>
    function update() {
        document.getElementById("content").innerHTML = document.getElementById("text").value;
    }
</script>