<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/common.js"></script>
    <title>Tom Schutte - Projects</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="..">Tom Schutte</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        	<li><a href="res/resume.pdf">Resume</a></li>
        	<li><a href="out/resume.html">About</a></li>
        	<li><a href="">Projects</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container">
    <div class="row" id="content">
      <h2 class="header">
        Projects
      </h2>
      <p>
        The thumbnails below link to the specific repo page for each of the projects
        that I have worked on independently or in collaboration with others. Some of
        these projects are several years old, and some are much more recent or from
        class. Most are small things that I wanted to try out with a new package,
        library, or language. Feel free to shoot me an email with suggestions, ideas
        for new projects, or to ask more about those listed here!
      </p>
      <p>
        <b>Note: </b> A lot of my more recent projects are in private repos due to
        being for class. For access to them please send me an email, and we can figure
        out a way for you to view my other work!
      </p>
      <p>
        Contact information can be found <a href="contact">here</a>.
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row" id="links">
      <div class="col-sm-3 projects">
        <div class="carousel-inner">
          <div class="item active">
            <a href="https://github.com/UW-Enlight">
              <img src="res/photos/enlight.png" style="max-height:220px" class="img-rounded img-thumbnail">
             </a>
            <p class="text-center">
              Student Org repositories!
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 projects">
        <div class="carousel-inner">
          <div class="item active">
            <a href="https://github.com/tjschutte/Mr-Cloud">
              <img src="res/photos/cloud.png" style="max-height:220px" class="img-rounded img-thumbnail">
             </a>
            <p class="text-center">
              RaspberryPi Cloud
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 projects">
        <div class="carousel-inner">
          <div class="item active">
            <a href="https://github.com/tjschutte/Pong-fixed-">
              <img src="res/photos/pong.PNG" style="max-height:220px" class="img-rounded img-thumbnail">
             </a>
            <p class="text-center">
              Pong!
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 projects">
        <div class="carousel-inner">
          <div class="item active">
            <a href="https://github.com/tjschutte/Helicopter-fixed-">
              <img src="res/photos/helicopter.PNG" style="max-height:220px" class="img-rounded img-thumbnail"></a>
            <p class="text-center">
              Helicopter Game!
            </p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row" id="links">
      <div class="col-sm-3 projects">
        <div class="carousel-inner">
          <div class="item active">
            <a href="hosted-projects/solar-system/Homework2.html">
              <img src="res/photos/placeholder.png" style="max-height:220px" class="img-rounded img-thumbnail"></a>
            <p class="text-center">
              Playing with the HTML Canvas
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 projects">
        <div class="carousel-inner">
          <div class="item active">
            <a href="hosted-projects/solar-system/Homeworkbonus.html">
              <img src="res/photos/placeholder.png" style="max-height:220px" class="img-rounded img-thumbnail"></a>
            <p class="text-center">
              A Bigger HTML canvas solar system
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer navbar-fixed-bottom text-center">
    <div class="container">
        <div class="text-center" id="YEAR" style="padding-bottom: 15px"></div>
    </div>
  </div>
</body>
