.fade1 {
	animation-duration: 4s;
  animation-name: fade1;
  -webkit-transition: opacity
}

@keyframes fade1 {
  from {
   -webkit-transition: opacity: 0%;
  }

  50% {
   -webkit-transition: opacity 100%;
  }

  to {
    -webkit-transition: opacity 0%;
  }
}

.fade2 {
  animation-name: fade2;
  animation-duration: 4s;
  animation-delay: 4s;
}

@keyframes fade2 {
  from {
    opacity: 0%;
  }

  50% {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}